@{
    ViewData["Title"] = "Sistema de Expedientes Digitales de Residencia Profesional";
}

<div class="text-center">
    <h2 class="display-4">Bienvenido  al SEDRP</h2>
    <p>aprenda sobre <a href="https://learn.microsoft.com/aspnet/core"> contruir aplicaciones WEB usando ASP.NET Core</a>.</p>
</div>
