@{
    ViewData["Title"] = "Sistema de Expedientes Digitales de Residencia Profesional";
}

<div class="text-center">
    <h1 class="display-4">bienvenido  al SEDRP</h1>
    <p>aprenda sobre <a href="https://learn.microsoft.com/aspnet/core"> contruir aplicaciones WEB usando ASP.NET Core</a>.</p>
</div>
